.card {
  width: 350px;
  padding: 10px;
  background-color: var(--color-white);
  border-radius: 18px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photoFrame {
  width: 330px;
  height: 250px;
  border-radius: 12px;
  overflow: hidden; /* Обрезает фото по краям */
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Растягивает фото без искажений */
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.names { display: flex; flex-direction: column; gap: 2px; }
.name {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  line-height: var(--h6-line-height);
  color: var(--color-darkgreen);
}
.pedigree {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--body3-size);
  font-weight: var(--body3-weight);
  line-height: var(--body3-line-height);
  color: var(--color-maingreen90);
}

.tags { display: flex; gap: 8px; }

.card button {
  width: 100%;
}

/* ==========================================
   МОБИЛЬНАЯ ВЕРСИЯ (Уменьшение в 1.3 раза)
   ========================================== */
/* @media (max-width: 768px) {
  .card {
    transform: scale(0.77); 
    transform-origin: top left; 
    width: 340px; 
    margin-bottom: -80px; 
  }
} */

/* кривая версия
/* @media (max-width: 768px) {
  .card {
    zoom: 0.77; 
    width: 340px; 
  }
} */

@media (max-width: 768px) {
  .card {
    width: 270px;          /* 350 * 0.77 ≈ 270 */
    padding: 8px;          /* уменьши паддинги пропорционально */
    gap: 12px;
  }

  .photoFrame {
    width: 254px;          /* 330 * 0.77 ≈ 254 */
    height: 192px;         /* 250 * 0.77 ≈ 192 */
    border-radius: 10px;
  }

  .tags {
    gap: 6px;
  }

  .card button {
    font-size: calc(var(--body5-size) * 0.77);
    padding: 3px 3px 3px 15px;
    justify-content: space-between;
  }
}