.menuBtn {
  width: fit-content;
  height: auto;
  background: none;
  border: none;
  /* Убираем подчёркивание у ссылок */
  text-decoration: none;
  /* Добавляем отступ для линии */
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  font-family: var(--font-heading);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

.menuBtn:hover {
  color: var(--color-whitegreen50);
  border-bottom-color: transparent; /* без подчёркивания при ховере */
}

.active {
  color: var(--color-white);
  border-bottom: 3px solid var(--color-white);
}