/* ==========================================
   ДЕСКТОП
   ========================================== */
.wrapper {
  width: 100%;
  /* 130 по бокам, 32 сверху, 10 снизу */
  padding: 32px clamp(16px, 9vw, 130px) 10px; 
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: row; /* Элементы друг за другом */
  gap: 320px; /* Большой отступ между ними */
  align-items: flex-start;
}

/* --- Блок автора --- */
.authorBlock {
  display: flex;
  align-items: left;
  gap: 15px;
  flex-shrink: 0; /* Чтобы блок не сжимался */
  flex-direction: column;
}

.avatar {
  width: 60px; /* Размер аватарки (поменяй, если в макете другой) */
  height: 60px;
  border-radius: 50%; /* Делаем круглым */
  object-fit: cover; /* Обрезаем фото в круг */
}

.authorInfo {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.name {
  margin: 0;
  font-family: var(--font-heading);
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  line-height: var(--h5-line-height);
  color: var(--color-darkgreen);
}

.role {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
  line-height: var(--body1-line-height);
  color: var(--color-maingreen60);
}

/* --- Блок текста --- */
.textBlock {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.iconPlaceholder, .icon {
  width: 36px;
  height: 36px;
  color: var(--color-khaki);
  flex-shrink: 0;
  margin-top: 2px; /* Чуть опускаем, чтобы ровно смотрелось с текстом */
}

.text {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
  line-height: var(--body1-line-height);
  color: var(--color-darkgreen);
}

/* ВЫДЕЛЕННЫЕ СЛОВА */
.highlight {
  color: var(--color-khaki);
  font-weight: var(--body2-weight); /* Bold */
}

@media (max-width: 1024px) {
  .container {
    /* flex-direction: column; */
    gap: 64pt;
  }
}

/* ==========================================
   МОБИЛЬНАЯ ВЕРСИЯ
   ========================================== */
@media (max-width: 768px) {
  .wrapper {
    padding: 24px 16px 12px; /* top 24, bottom 12, по бокам 16 */
  }

  .container {
    flex-direction: column; /* Элементы друг ПОД другом */
    gap: 24px;
  }

  .authorBlock {
    width: 100%;
    justify-content: center; /* Можно отцентрировать или оставить слева (justify-content: flex-start) */
  }
}